doctype html
html
  head
    title Beat Fighter Prototype
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='https://code.angularjs.org/1.5.7/angular-animate.js')
    script(src='javascripts/app.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
  body(ng-app='beatFighter' ng-controller='mainController')
    .wrapper
      .title-block
        h2 Beat Fighter Viewer
      .view-wrapper
        .current-stream(ng-style="{ 'width' : addPx(player.width), 'height' : addPx(player.height) }")
          iframe(ng-src="{{getEmbedUrl()}}", frameborder=0, scrolling='no')
        .current-chat(ng-repeat='user in users', ng-show='currentChat == user',ng-style="{ 'width' : addPx(chat.width), 'height' : addPx(chat.height) }")
          .chat-wrapper(ng-style="{ 'width' : addPx(chat.width), 'height' : addPx(chat.height) }")
            .chat-select
              a.arrows(href='#', ng-click='stepChat(-1)') <
              .name(ng-style="{ 'width' : addPx(nameWidth)}") {{user}}
              a.arrows(href='#', ng-click='stepChat(1)') >
            iframe(ng-src="{{getChatUrl(user)}}", frameborder=0, scrolling='no',ng-style="{ 'width' : addPx(chat.width), 'height' : addPx(chat.height) }")
      .thumbnails
        .thumbnail(ng-repeat='user in users',ng-class="{active : currentStream == user}")
          .info {{user}}
          .chat-active(ng-show='currentStream != currentChat && currentChat == user')
            i.material-icons chat_bubble_outline
          a(href="#",ng-click='setCurrentUser(user)')
            img(ng-src="{{getPreviewUrl(user)}}",ng-click='setCurrentUser(user)')
          