body {
  padding: 0px;
  margin: 0px;
  color: rgb(67, 63, 74);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.wrapper {
  background-color: #DDDDDD;
  text-align:center;
  height: 100%;
}

.view-wrapper {
  width: 100%;
  height: 378px;
}

.title-block{
  width: 100%;
  height: 40px;
  display: block;
}

.current-stream {
  width: 620px;
  height: 378px;
  float: left;
}

.current-chat {
  width: 350px;
  height: 378px;
  float: right;
}

.current-chat .chat-wrapper{
  width:350px;
  height: 100%;
  position: relative;
}

.chat-select {
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  right:0;
  padding: 10px 0;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #dad8de;
  background-color: rgb(239, 238, 241);
}

.chat-select .arrows {
  font-size:16px;
  font-weight: bolder;
  color: rgba(100,65,165,0.6);
  padding: 0 10px;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  transition: color 0.25s;
  text-decoration: none;
}

.chat-select .arrows:hover{
  color: rgba(100,65,165,1);
}
.chat-select .name{
  display: inline-block;
}
.current-stream iframe {
  width: 100%;
  height: 100%;
}

.current-chat iframe {
  width: 100%;
  height: 378px;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  z-index:1;
}

.thumbnails{
  width: auto;
  display: inline-block;
  height: auto;
}

.thumbnail {
  height: auto;
  display: inline-block;
  position: relative;
}

.thumbnail img{
  opacity: 0.5;
  transition: opacity 0.15s;
  position: relative;
  width: 100%;
}

.thumbnail.active img, .thumbnail:hover img{
  opacity: 1;
}

.thumbnail .info{
  position: absolute;
  width: 100%;
  z-index: 4;
}

.thumbnail.active .info{
  font-weight: bolder;
}

.thumbnail .chat-active{
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 1;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  font-size: 18px;
  display: block;
  color: rgba(255, 255, 255, 0.75);
}

.thumbnail .chat-active.ng-hide{
  opacity: 0;
  display: block;
}

